---
import FeaturedPosts from "./FeaturedPosts.astro";
import PostsHeader from "./PostsHeader"
---
<section class="flex flex-col gap-3 px-4 md:px-0 md:gap-5">
    <PostsHeader/>
    <FeaturedPosts/>
</section>