---
import Avatar from "./Avatar.astro";
import Text from "./Text.astro";
---

<section
  class="flex flex-col gap-10 items-center md:flex-row-reverse md:justify-between md:px-1"
>
  <Avatar />
  <Text />
</section>
