---
import Heading from "../Heading";
import SubHeading from "../SubHeading";
---

<div class="flex flex-col items-center md:items-start">
  <Heading>Arnab Chatterjee</Heading>

  <SubHeading className="md:text-xl md:mb-8">Full Stack Developer</SubHeading>

  <div class="flex flex-col items-center md:items-start">
    <SubHeading className="md:text-xl">
      Developer with a passion for crafting
    </SubHeading>
    <SubHeading className="md:text-xl">
      end-to-end solutions and constant learning.
    </SubHeading>
  </div>
</div>
