---
import Heading from "../Heading";
import SubHeading from "../SubHeading";
---

<section class="flex flex-col items-center md:items-start">
  <Heading className="md:mb-3">About Me?</Heading>
  <SubHeading className="text-center md:text-xl">
    Want to know about my Work Experiences? Achievements?
  </SubHeading>
  <SubHeading className="text-center flex flex-col items-center md:text-xl md:flex-row  md:items-start md:gap-2">
    This is the best place to visit <b>LinkedIn</b>
  </SubHeading>
</section>
