---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro"
import About from "../components/About/About.astro";
import Works from "../components/Works/Works.astro";
import Posts from "../components/Posts/Posts.astro"
import HireMe from "../components/HireMe.astro";
---

<Layout>
  <Main>
    <Hero/>
    <About/>
    <Works/>
    <Posts/>
    <HireMe/>
  </Main>
</Layout>