---
import Heading from "./Heading";
---

<section class="flex items-center justify-center flex-wrap">
  <Heading className="text-9xl md:text-7xl max-w-[43rem] text-center">
    Wanna
    <span class=" text-[#FF6464] ml-10 md:ml-0">Hire</span> Me
  </Heading>
</section>
