---
import { Cards, CardsTitle, CardsDescription } from "../Cards";
import Vectorgithub from "../../icons/Vectorgithub";
import Vectorliveurl from "../../icons/Vectorliveurl";
import Link from "../Link";
---

<Cards>
  <CardsTitle>Title</CardsTitle>
  <div class="md:max-h-[14rem] text-ellipsis">
    <CardsDescription>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a ............
    </CardsDescription>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex gap-5 md:gap-2">
      <Vectorgithub className="h-8 w-8 md:h-4 md:w-4 fill-black dark:fill-white" />
      <Vectorliveurl className="h-8 w-8 md:h-4 md:w-4 fill-black dark:fill-white" />
    </div>
    <Link
      className="flex justify-between text-xl md:text-sm text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-700 gap-1"
      svgClassName="fill-blue-600 w-5 h-4 md:w-3 md:h-2"
      text="Read More"
    />
  </div>
</Cards>
