---
import { getCollection } from "astro:content";
import WorkCards from "./FeaturedWorks.astro";
import WorksHeader from "./WorksHeader"
const works = await getCollection("work")
---
<section class="flex flex-col gap-3 px-4 md:px-0 md:gap-5">
    <WorksHeader/>
    <WorkCards works={works.toReversed()}/>
</section>