---
import WorkCards from "./FeaturedWorks.astro";
import WorksHeader from "./WorksHeader"

---
<section class="flex flex-col gap-3 px-4 md:px-0 md:gap-5">
    <WorksHeader/>
    <WorkCards/>
</section>