---
import Footer from "../components/Footer.astro";
import Navbar from "../components/NavContainer.astro";
import '@fontsource-variable/inter';
interface Props {
  title?: string;
}

const { title = "Arnab Chatterjee" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-primary-light dark:bg-primary-dark w-fit md:w-auto">
    <Navbar/>
    <slot />
    <Footer/>
  </body>
</html>

<style is:global>
  :root{
    font-family: "Inter Variable",sans-serif;
    transition: 5000ms linear;
  }
</style>